body {

    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
}

td {
    text-align: left;
    font-family: 'Julius Sans One', sans-serif;
}

table {
    width: 400px;
    margin: 0 auto;
}

#stamp {
   
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    width: 150px;

}

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} */


#container {
    width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#home {
   position: relative;
   text-align: center;
   background-color: #f3c26a;
   width: 1000px;
   border: 1px dashed black;
   height: auto;
   margin: 0 auto;
   padding: 30px;
  }