<!DOCTYPE html>
<html>
<head>
    <title>Operation Result</title>
    
    <link href="stylesheets/form.css" rel="stylesheet">
</head>
<body>
	<h1>Your Costs</h1>
    <div id="container">
        <div id="home">
    <p>The cost for "<%= option %>" and weight of <%= weight %> oz. is: <%= total %></p>
</div>
</div>

</body>
</html>