<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
</head>
<body>
	<h1>Your Costs</h1>
    
    <p>The cost for "<%= option %>" and weight of <%= weight %> oz. is: <%= total %></p>

</body>
</html>